.challenger {
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 15px;
  position: relative;
}

.wrap {
  border-bottom: 1px solid #eeeeee;
}

.wrapActive {
  background: #e6fdff;
}

.winnerBtn {
  height: 30px;
  width: calc(100% - 20px);
  margin: 15px auto;
  justify-content: center;
  align-items: center;
}

.winnerBtn span {
  margin-left: 10px;
  font-size: 14px;
}

.userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.challengerInfo {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: 12px;
}

.userName {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.votes {
  font-size: 12px;
  font-weight: lighter;
  line-height: 14px;
}

.mediaContainer {
  position: relative;
  min-width: 42px;
  min-height: 42px;
  padding: 1px;
  background: linear-gradient(#006dff, #00efff);
  border-radius: 3px;
  display: inline-flex;
  margin-right: 20px;
}

.mediaContainerSmall {
  margin-right: 12px;
}

.trophy {
  position: absolute;
  right: 10px;
}

.media {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 3px;
}

.main :global(.ant-btn) {
  min-height: 30px;
  display: flex;
  align-items: center;
}

.voteIcon {
  width: 15px;
  height: 15px;
}

.voteWording {
  font-size: 13px;
  margin-left: 9px;
}

.singleMedia {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 101;
  /* tabs bar and header height */
  padding-top: 88px;
}

.challenger :global(.anticon-warning) {
  font-size: 30px;
  color: orange;
  margin-right: 10px;
}

.challenger :global(.ant-spin) {
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%, -50%);
}
