.main {
  padding: 40px 15px;
}

.profileImg {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  object-fit: cover;
}

.button {
  width: 100%;
  border: 0;
  background-color: transparent;
  padding: 0;
  text-align: left;
}

.backButton {
  border: 0;
  background-color: transparent;
  padding: 0;
}
