.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 15px;
}

.icon {
  width: 17px;
  height: 17px;
}

.title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 3px;
}

.img {
  height: 22px;
  width: 22px;
  border-radius: 100%;
}
