.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 15px;
}

.icon {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}

.title {
  font-size: 18px;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  height: 22px;
  width: 22px;
  border-radius: 100%;
  object-fit: cover;
  margin-left: 5px;
}
