@import "../const.less";

.link {
  border-radius: 5px;
  font-size: 18px;
  line-height: 22px;
  padding: 12px;
  margin: 7px 0;

  &--primary {
    color: white;
    background-color: @primary;
  }

  &--secondary {
    color: black;
    background-color: white;
  }
}
