.setting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 9px 17px;
  color: #eeeeee;
}

.title {
  flex: auto;
  font-size: 16px;
  color: black;
  margin-left: 15px;
}

.icon {
  width: 22px;
  height: 22px;
}
