.challenge {
  margin: 0 15px;
  padding: 15px 0;
  display: block;
  border-bottom: 1px solid #f2f2f2;
  color: black;
}

.header {
  flex-wrap: wrap-reverse;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  margin-bottom: 7px;
}

.challenge :global(.ant-btn) {
  min-height: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.btnImg {
  margin-right: 9px;
}

.id {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.endeded {
  background: linear-gradient(4.11deg, #00efff 1.47%, #006dff 88.68%);
  border-radius: 12px;
  padding: 0 5px;
  color: white;
}

.rejected {
  font-size: 12px;
  line-height: 18px;
  color: white;
  background: #ff5b05;
  border-radius: 12px;
  padding: 0 5px;
}

.name {
  font-weight: bold;
}

.description {
  font-size: 12px;
  display: block;
  line-height: 14px;
  margin-top: -3px;
}
