.challenge {
  margin: 0 15px;
  padding: 15px 0;
  display: block;
  border-bottom: 1px solid #f2f2f2;
  color: black;
}

.challengeSwiped {
  width: 100%;
}

.swipeContainer {
  overflow: scroll;
}
.swipe {
  display: flex;
  width: calc(100% + 250px);
}

.btnAccepted {
  background-color: #4dd865;
}

.btnRejected {
  background-color: #f13642;
}

.btn {
  width: 120px;
  min-width: 120px;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn div {
  color: white;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  flex-wrap: wrap-reverse;
  min-height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header :global(.link) {
  margin-top: 0;
  margin-bottom: 0;
}

.challenge :global(.ant-btn) {
  min-height: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.btnImg {
  margin-right: 9px;
}

.name {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.endeded {
  background: linear-gradient(4.11deg, #00efff 1.47%, #006dff 88.68%);
  border-radius: 12px;
  padding: 0 5px;
  color: white;
}

.winner {
  display: flex;
  margin-top: 5px;
}

.winnerImg {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.winnerName {
  color: #006dff;
  margin-left: 6px;
  margin-right: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}

.rejected {
  font-size: 12px;
  line-height: 18px;
  color: white;
  background: #ff5b05;
  border-radius: 12px;
  padding: 0 5px;
}

.desc {
  font-weight: bold;
}
